<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
    <appender name="console" class="org.apache.log4j.ConsoleAppender">
        <param name="Target" value="System.out"/>
        <layout class="org.apache.log4j.PatternLayout">
            <!--param name="ConversionPattern" value="%d{ABSOLUTE} %5p %c{1}:%L - %m%n"/-->
            <param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss.SSS} %5p (%40.40c{1}:%3L) - %m%n"/>
        </layout>
    </appender>

    <!-- Mongo Appender 
    <appender name="mongodb" class="org.log4mongo.MongoDbAppender">
        <param name="databaseName" value="ecommerce"/>
        <param name="collectionName" value="logs"/>
    </appender>
    -->
    
    <category name="org.apache">
        <priority value ="error" />
    </category>
    <category name="org.springframework">
        <priority value ="info" />
    </category>
    <category name="org.apache.http">
        <priority value ="debug" />
    </category>
    <category name="org.springframework.ws">
		<priority value ="info" />
	</category>
    <category name="com.cric.player">
        <priority value ="debug" />
        <!--appender-ref ref="mongodb" /-->
    </category>
    <category name="org.springframework.data.document">
        <priority value ="debug" />
    </category>
    <category name="org.apache.commons.httpclient">
        <priority value ="debug" />
    </category>
    <root>
        <priority value ="debug" />
        <appender-ref ref="console" />
    </root>
</log4j:configuration>
